<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/script/script.js" defer></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- Navbar Start Here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <!-- Navbar End Here -->
    <div class="container-fluid elevar">
      <div class="row">
        <div class="col-lg-6 col-sm-12 elevar__image " >
          <div class="display__mobile elevar__title">
            <span class="elevar__hints">Our Flagship Sneaker</span>
            <h2>ELEVAR ARC RACER</h2>
            <div class="col-sm-12 elevar__cost">
              <span class="elevar__hints"
                >Limited Time Early Bird Discount: Get Rs. 1000 Off
              </span>
              <p>
                <span class="elevar__real-cost"> <del>INR 5,999</del> </span>
                <span class="elevar__discount-cost">INR 4,999</span>
              </p>
              <small>
                <span class="elevar__discount-cost"
                  >&#9733;&#9733;&#9733;&#9733;&#9733;</span
                >(52)</small
              >
            </div>
          </div>
          <img
            class="elevar__image-img img-fluid"
            src="/images/show images/0.png"
            alt="no internet"
          />

          <div class="elevar__slider">
            <img
              src="/images/show images/prev.png"
              alt="no internet"
              class="prev-next"
              onclick="onThumbnailIterator('prev')"
            />
            <div class="elevar__image__slider">
              <img
                src="/images/show images/0.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid selected"
                onclick="onThumbnailClick(0)"
              />
              <img
                src="/images/show images/1.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(1)"
              />
              <img
                src="/images/show images/2.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(2)"
              />
              <img
                src="/images/show images/3.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(3)"
              />
              <img
                src="/images/show images/4.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(4)"
              />
              <img
                src="/images/show images/5.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(5)"
              />
              <img
                src="/images/show images/6.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(6)"
              />
              <img
                src="/images/show images/7.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(7)"
              />
              <img
                src="/images/show images/8.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(8)"
              />
              <img
                src="/images/show images/9.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(9)"
              />
              <img
                src="/images/show images/10.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(10)"
              />
              <img
                src="/images/show images/11.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(11)"
              />
              <img
                src="/images/show images/12.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(12)"
              />
              <img
                src="/images/show images/13.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(13)"
              />
              <img
                src="/images/show images/14.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(14)"
              />
              <img
                src="/images/show images/15.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(15)"
              />
              <img
                src="/images/show images/16.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(16)"
              />
              <img
                src="/images/show images/17.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(17)"
              />
              <img
                src="/images/show images/18.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(18)"
              />

              <img
                src="/images/show images/19.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(19)"
              />
              <img
                src="/images/show images/20.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(21)"
              />
              <img
                src="/images/show images/22.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(22)"
              />
              <img
                src="/images/show images/23.png"
                alt="no internet"
                class="elevar__image-thumbnail img-fluid"
                onclick="onThumbnailClick(23)"
              />
            </div>
            <img
              src="/images/show images/next.png"
              alt="no internet"
              class="prev-next"
              onclick="onThumbnailIterator('next')"
            />
          </div>
        </div>
        <div class="col-lg-6 elevar__title">
          <div class="display__laptop">
            <span class="elevar__hints">Our Flagship Sneaker</span>
            <h2>ELEVAR ARC RACER</h2>
            <div class="col-sm-12 elevar__cost">
              <span class="elevar__hints"
                >Limited Time Early Bird Discount: Get Rs. 1000 Off
              </span>
              <p>
                <span class="elevar__real-cost"> <del>INR 5,999</del> </span>
                <span class="elevar__discount-cost">INR 4,999</span>
              </p>
              <small>
                <span class="elevar__discount-cost"
                  >&#9733;&#9733;&#9733;&#9733;&#9733;</span
                >(52)</small
              >
            </div>
          </div>
            <div class="elevar__content">
              <p>
                A high-performance shoe engineered specifically to adapt to your
                needs
              </p>
              <p>
                <span class="elevar__title__highlight">Choose Color:</span
                ><span class="elevar__choose-color__title"
                  >Cobalt Firey Carbon</span
                >
              </p>
              <div class="elevar__choose-color">
                <img
                  class="elevar__choose-color__image"
                  src="/images/choose_color/red.png"
                  alt="no internet"
                  onclick="onThumbnailClick(0)"
                />
                <img
                  class="elevar__choose-color__image"
                  src="/images/choose_color/blue.png"
                  alt="no internet"
                  onclick="onThumbnailClick(8)"
                />
                <img
                  class="elevar__choose-color__image"
                  src="/images/choose_color/black.png"
                  alt="no internet"
                  onclick="onThumbnailClick(16)"
                />
              </div>
              <div class="elevar__content__size">
                <p class="elevar__title__highlight">Choose Size (UK) :</p>
                <u class="elevar__size__link">Size Guide</u>
              </div>
              <p>
                <small class="elevar__size__title"
                  >This UK Size 6 is equivalent to US 7 or EU 41</small
                >
              </p>
              <div class="elevar__shoe__sizes">
                <div
                  class="elevar__shoe__description"
                  onclick="onSizeIterator(6)"
                >
                  6
                </div>
                <div
                  class="elevar__shoe__description"
                  onclick="onSizeIterator(7)"
                >
                  7
                </div>
                <div
                  class="elevar__shoe__description"
                  onclick="onSizeIterator(8)"
                >
                  8
                </div>
                <div
                  class="elevar__shoe__description"
                  onclick="onSizeIterator(9)"
                >
                  9
                </div>
                <div
                  class="elevar__shoe__description"
                  onclick="onSizeIterator(10)"
                >
                  10
                </div>
              </div>

              <button class="elevar__add-to-cart">ADD TO CART</button>
              <span
                ><u class="elevar__hints"
                  >Check If We Deliver To Your Pincode</u
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
