<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/script/script.js" defer></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <!-- Navbar Start Here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <!-- Navbar End Here -->
    <div class="container-fluid elevar">
      <div class="row">
        <div class="col-md-7 col-sm-12 order-2 order-md-1 elevar__image">
          <img
            class="elevar__image-img img-fluid"
            src="/images/show images/0.png"
            alt="no internet"
          />

            <a href="#" class="previous">&#8249;</a>
            <div class="elevar__image__slider">
              <img src="/images/show images/0.png" alt="no internet" class="elevar__image-thumbnail img-fluid selected">
              <img src="/images/show images/1.png" alt="no internet" class="elevar__image-thumbnail img-fluid">
              <img src="/images/show images/2.png" alt="no internet" class="elevar__image-thumbnail img-fluid">
              <img src="/images/show images/3.png" alt="no internet" class="elevar__image-thumbnail img-fluid">
              <img src="/images/show images/4.png" alt="no internet" class="elevar__image-thumbnail img-fluid">
            </div>
            <a href="#" class="next round">&#8250;</a>

          
        </div>

        <div class="col-md-5 elevar__title col-sm-12 order-1 order-md-2">
          <small>Our Flagship Sneaker</small>
          <h2>ELEVAR ARC RACER</h2>
          <div class="col-sm-12 elevar__cost">
            <small>Limited Time Early Bird Discount: Get Rs. 1000 Off </small>
            <p>
              <span class="elevar__real-cost"> <del>INR 5,999</del> </span>
              <span class="elevar__discount-cost">INR 4,999</span>
            </p>
            <small>
              <span class="elevar__discount-cost"
                >&#9733;&#9733;&#9733;&#9733;&#9733;</span
              >(52)</small
            >

            <div class="display__laptop">
              <div class="elevar__content">
                <p>
                  A high-performance shoe engineered specifically to adapt to
                  your needs
                </p>
                <p>
                  <span>Choose Color:</span><span>Cobalt Firey Carbon</span>
                </p>
                <div class="elevar__choose-color">
                  <img
                    class="elevar__choose-color__image"
                    src="/images/choose_color/red.png"
                    alt="no internet"
                  />
                  <img
                    class="elevar__choose-color__image"
                    src="/images/choose_color/blue.png"
                    alt="no internet"
                  />
                  <img
                    class="elevar__choose-color__image"
                    src="/images/choose_color/black.png"
                    alt="no internet"
                  />
                </div>
                <div class="elevar__content__size">
                  <p>Choose Size (UK) :</p>
                  <small>Size Guide</small>
                </div>
                <p>
                  <small>This UK Size 6 is equivalent to US 7 or EU 41</small>
                </p>
                <div class="elevar__shoe__sizes">
                  <div class="elevar__shoe__description">6</div>
                  <div class="elevar__shoe__description">6</div>
                  <div class="elevar__shoe__description">6</div>
                  <div class="elevar__shoe__description">6</div>
                </div>

                <button class="elevar__add-to-cart">ADD TO CART</button>
                <small>Check If We Deliver To Your Pincode</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Display Mobile -->
      <div class="row display-mobile">
        <div class="elevar__content">
          <p>
            A high-performance shoe engineered specifically to adapt to
            your needs
          </p>
          <p>
            <span>Choose Color:</span><span>Cobalt Firey Carbon</span>
          </p>
          <div class="elevar__choose-color">
            <img
              class="elevar__choose-color__image"
              src="/images/choose_color/red.png"
              alt="no internet"
            />
            <img
              class="elevar__choose-color__image"
              src="/images/choose_color/blue.png"
              alt="no internet"
            />
            <img
              class="elevar__choose-color__image"
              src="/images/choose_color/black.png"
              alt="no internet"
            />
          </div>
          <div class="elevar__content__size">
            <p>Choose Size (UK) :</p>
            <small>Size Guide</small>
          </div>
          <p>
            <small>This UK Size 6 is equivalent to US 7 or EU 41</small>
          </p>
          <div class="elevar__shoe__sizes">
            <div class="elevar__shoe__description">6</div>
            <div class="elevar__shoe__description">6</div>
            <div class="elevar__shoe__description">6</div>
            <div class="elevar__shoe__description">6</div>
          </div>

          <button class="elevar__add-to-cart">ADD TO CART</button>
          <small>Check If We Deliver To Your Pincode</small>
        </div>
      </div>
    </div>
  </body>
</html>
