* {
  margin: 0;
  font-size: 20px;
  font-size: 18px;
}

.container-fluid {
  margin: 0 auto;
  max-width: 90%;
  border: 1px solid black;
  margin-top: 20px;
}

.elevar__title {
}

.elevar__image {
  padding: 5%;
  align-content: center;
  text-align: center;
  display: flex;;
  flex-direction: column;
}



.elevar__image-img {
  margin: auto;
  /* object-fit: contain; */

  width: 60%;
  border: 1px solid black;
  cursor: pointer;
}

.elevar__image-thumbnail{
  max-width: 100px;
  max-height: 80px;
  opacity: 0.5;
  margin: 3px;
  border: 1px solid black;
  cursor: pointer;
 
}

.elevar__image__slider{
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 70%;
  height: 30%;
  overflow-x: hidden;
}

.previous{
  height: 30%;
}

.elevar__image__slider__complete{
  display: flex;
  flex-direction: row;
  
}

.elevar__image-thumbnail:hover, .selected{
  opacity: 1;
}


.elevar__title > small {
  font-weight: 200;
}

.elevar__title > h2 {
  color: #333;
  font-weight: 900;
}

.elevar__cost {
  padding: 0 !important;
}

.elevar__cost > p {
  margin-bottom: 0;
}

.elevar__real-cost {
  font-weight: 200;
}

.elevar__discount-cost {
  font-weight: 800;
  color: blue;
}

.elevar__content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.elevar__choose-color {
  display: flex;
  flex-direction: row;
}

.elevar__choose-color__image {
  width: 10%;
  object-fit: contain;
  border: 1px solid gray;
  border-radius: 60px;
  margin-right: 2%;
}

.elevar__content__size {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.elevar__content__size > p {
  margin-bottom: 0;
}

.elevar__choose-color__title {
  margin: 2% 0;
}

.elevar__shoe__sizes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.elevar__shoe__description {
  padding: 10px;
  background-color: gray;
  width: 23%;
  text-align: center;
  font-size: large;
}

.elevar__add-to-cart{
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: 700;
    margin: 18px 0;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.display__laptop {
  display: block;
}

.display-mobile {
  display: none !important;
}

@media (max-width: 767px) {
  .display__laptop {
    display: none;
  }

  .display-mobile {
    display: block !important;
    padding: 10%;
  }

  .elevar__image-img{
    width: 80%;
  }
}
